[submodule "utility/kicad_parts_library_jdl"]
	path = utility/kicad_parts_library_jdl
	url = https://github.com/jaylamb/kicad_parts_library_jdl
[submodule "utility/kicad-library-utils"]
	path = utility/kicad-library-utils
	url = https://gitlab.com/kicad/libraries/kicad-library-utils.git
[submodule "utility/KiAuto"]
	path = utility/KiAuto
	url = https://github.com/INTI-CMNB/KiAuto.git
[submodule "utility/kicad-symbols"]
	path = utility/kicad-symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "utility/kicad-footprints"]
	path = utility/kicad-footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints.git
